<html data-ng-app="KoganApp" data-ng-csp>
    <head>
        <title>Options Page</title>
        <script src="js/angular.min.js"></script>
        <script src="js/settings.js"></script>
        <script src="js/options.js"></script>
        <link rel="stylesheet" type="text/css" href="css/options.css">
    </head>
    <body data-ng-controller="OptionsController">

    <article>
        <a href="http://www.kogan.com/?utm_source=kogan&utm_medium=chrome-extension&utm_campaign=options" target="_blank"><img src="logo.png"></a>
        <section>
            <h2>Show notifications:</h2>
            <ul>
                <li><input type="radio" ng-model="show_notification" value="1"><label>Yes</label></li>
                <li><input type="radio" ng-model="show_notification" value="0"><label>No</label></li>
            </ul>
        </section>
        <section>
            <h2>How often:</h2>
            <ul>
                <li><input type="radio" ng-model="frequency" value="1"><label>Daily</label></li>
                <li><input type="radio" ng-model="frequency" value="0"><label>For every new event</label></li>
            </ul>
        </section>
        <section>
            <h2>Notify me about:</h2>
            <ul ng-repeat="event in event_types">
                <li><input type="checkbox" name="{{ event.value }}" ng-model="event.checked" /><label>{{ event.name }}</label></li>
            </ul>
        </section>
        <section>
            <h2>Check every:</h2>
            <ul>
                <li><input type="radio" ng-model="poll_interval" value="1"><label>1 minute</label></li>
                <li><input type="radio" ng-model="poll_interval" value="5"><label>5 minutes</label></li>
                <li><input type="radio" ng-model="poll_interval" value="10"><label>10 minutes</label></li>
            </ul>
        </section>
        <section class="action">
            <button ng-click="save_options()">{{ status }}</button>
        </section>
    </article>
    </body>
</html>